@font-face{
    font-family: "accent";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Cousine-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "base";
    font-style: normal;
    font-weight: normal;
    src: url("../font/EBGaramond-Regular.ttf") format("truetype");
}

ul{list-style-type: none;}
.list {list-style-type: disc;}
li.dialogue:before {content: "-";
                    padding-right: 20px;}
li.dialogue{list-style-position: outside;}

li.dialogue, p, b{font-family: "base";}


p {text-indent: 20px;
   text-align: justify;
}
h1, h2, h3 {
    font-family: "accent";
}
